body {
 background-color: pink;
}


.navbar{

    background-color: blue;
}

.container-fluid{
     text-align: left;
     outline: 5px;
}

.container{
	font-family: "Roboto", cursive;
	text-align: center;
	margin-top: 10px;
	font-size: 50px;
	font-style: italic;

}


#logoimg{
	height: 200px;
	width: 180px;
}

.heading{
	margin-top: 40px;
}

#features{
      text-align: center;
      margin-top: 50px;
      font-size: 40px;
      
     
}

#footer{
	font-family: "Roboto", cursive;
	text-align: center;
	font-size: 20px;
    margin-top: 70px;
     background-color: #f6f5f5;
     padding: 2.25rem 0;

}

.social-icon {
  margin: 20px 30px 50px;
  color: black;
  font-size: 1.5rem;
  opacity: 0.6;
}

